* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(30, 30, 30);
}

.main-content {
  padding: 0 4rem;
}

.message {
  background-color: #2ecc71;
  color: white;
  font-size: 1.5rem;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  position: fixed;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  animation: notify 4s;
  z-index: 10;
  width: 100%;
  max-width: 45rem;
}

@keyframes notify {
  0% {
    top: -20%;
  }

  37.5% {
    top: 10%;
  }

  50% {
    top: 10%;
  }

  67.5% {
    top: 10%;
  }

  100% {
    top: -20%;
  }
}
