.cart-sidebar {
  height: 100%;
  width: 100%;
  max-width: 40rem;
  position: fixed;
  top: 0;
  right: 0%;
  z-index: 1;
  background-color: white;
  animation: slideIn 1s;
  box-shadow: 5px 0px 10px 1px rgb(40, 40, 40);
  padding: 2rem;
  overflow-y: auto;
}

.cart-sidebar.hidden {
  right: -100%;
  animation: slideOut 1s;
}

.cart-sidebar__info {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cart-sidebar__title {
  font-weight: 400;
  font-size: 2.5rem;
}

.cart-sidebar__total {
  font-weight: 600;
  font-size: 2.5rem;
}

.cart-sidebar__product {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(240, 240, 240);
  border-radius: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.cart-sidebar__product__image {
  width: 5rem;
  margin-right: 2rem;
}

.cart-sidebar__button {
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: 800;
  border: none;
  border-radius: 1rem;
  margin-top: 2rem;
  color: white;
  transition: all 0.2s;
  width: 100%;
}

.cart-sidebar__button:hover {
  cursor: pointer;
}

.cart-sidebar__button.checkout {
  color: white;
  background-color: #fbc531;
}

.cart-sidebar__button.continue {
  background-color: transparent;
  color: #fbc531;
  border: 1px solid #fbc531;
}

.cart-sidebar__button.checkout:hover {
  background-color: #c99e29;
}

.cart-sidebar__product-main {
  display: flex;
  flex-direction: row;
}
.cart-sidebar__product__name {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cart-sidebar__product__total {
  font-weight: 600;
  font-size: 1.5rem;
  align-self: flex-start;
  justify-self: right;
}
.cart-sidebar__product__quantity {
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  border-radius: 5rem;
  width: 6rem;
  outline: none;
}

@keyframes slideIn {
  0% {
    right: -100%;
  }

  100% {
    right: 0%;
  }
}

@keyframes slideOut {
  0% {
    right: 0%;
  }
  100% {
    right: -100%;
  }
}
