.navbar {
  background-color: #2c3e50;
  color: white;
  padding: 0 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.nav-heading {
  font-size: 2.5rem;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-item {
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  transition: all 0.2s;
  width: 10rem;
  margin-right: 2rem;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.nav-item__icon {
  margin-right: 1rem;
}

.nav-cart {
  position: relative;
}

.nav-cart:hover {
  cursor: pointer;
}

.nav-cart__count {
  position: absolute;
  top: -1rem;
  right: -1.3rem;
  background-color: #e74c3c;
  font-size: 1.3rem;
  border-radius: 100%;
  padding: 0.3rem;
  text-align: center;
}
