.shop-heading {
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 5rem;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5rem;
}

.shop-item {
  height: 100%;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
}

.shop-item__image {
  width: 100%;
  margin-bottom: 1rem;
  object-fit: contain;
  height: 50%;
}

.shop-item__name {
  font-size: 2rem;
  font-weight: 500;
}

.shop-item__price {
  margin: 2rem 0;
  font-size: 1.8rem;
}

.shop-item__atc {
  padding: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 5rem;
  background-color: #e74c3c;
  font-weight: 800;
  color: white;
  font-size: 1.8rem;
  transition: all 0.2s;
}

.shop-item__atc:hover {
  cursor: pointer;
  background-color: #9b3529;
}
