.shop-heading {
  text-align: left;
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 5rem;
  color: white;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5rem;
}

.shop-item {
  border-radius: 1rem;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  background-color: rgb(60, 60, 60);
  color: white;
}

.shop-item__image {
  width: 100%;
  margin-bottom: 2rem;
  object-fit: contain;
  height: 30rem;
}

.shop-item__name {
  font-size: 2rem;
  font-weight: 500;
}

.shop-item__price {
  margin: 2rem 0;
  font-size: 1.5rem;
}

.shop-item__atc {
  padding: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 5rem;
  background-color: #e74c3c;
  font-weight: 800;
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s;
}

.shop-item__atc:hover {
  cursor: pointer;
  background-color: #9b3529;
}

.shop-item__quantity {
  margin-left: 1rem;
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  border-radius: 5rem;
  width: 6rem;
  outline: none;
}
